body{
    font-family: "Monstserrat", 'Segeo UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topbar {
    background-color: coral;
    color:#fff;
    height: 50px;
    line-height: 50px;
}

.top-contact, .sosmed{
    list-style: none;

}

#topbar li{
    display: inline-block;
}

#topbar li a{
    color: #fff;
    display: inline-block;
    padding: 0 20px;
}

#topbar li a i{
    color: khaki;
    margin-right: 5px;
}

#topbar .sosmed li a{
    padding: 0 5px;
}

